@font-face {
  font-display: swap;
  font-family: "Oldenburg";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/oldenburg-v20-latin-regular.woff2") format("woff2");
}

html,
body {
  font-family: "Oldenburg";
}
